# Visual Studio 관련 파일 및 폴더 무시
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# 빌드 결과물 무시
Debug/
Release/
x64/
x86/
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ipch
*.log

# 기타 임시 파일 무시
*.tmp
*.cache
*.bak
*.ncb
*.opendb
*.VC.db

# 환경설정 및 백업 파일 무시
*.swp
*.sdf
*.db
*.psess
*.vsp
*.vspscc
*.vssscc

# Mac OS 및 기타 시스템 파일 무시
.DS_Store
Thumbs.db