# Binaries for the current project
*.exe
*.dll
*.so
*.dylib

# Build artifacts
/bin/
/pkg/

# Test-related files
testdata/
testoutput/

# Dependency management
vendor/ # If not using Go modules or if explicitly ignoring vendored dependencies

# Editor and OS specific files
.DS_Store
.vscode/
.idea/
*.swp
*.bak

# Log files
*.log

# Environment variables
.env
